<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" 
    integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" 
    crossorigin="anonymous">

    <title>پیش‌نمایش</title>

    <style>
        .image-thumbail{
            height: 200px;
            object-fit: cover;
        }
    </style>
    

</head>
<body class="m-5">

    <div class="container">
        <div class="row">
            
            <div class="col-md-3">
                <div class="card text-right" style="width: 18rem;">
                    <div class="card-header">
                        دسته بندی ها
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %}">همه</a>
                        </li>
                        {% for category in categories %}
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %}?category={{category.name}}">
                                {{category.name}}
                            </a>
                        </li>
                        {% endfor %}
                        
                        
                        <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">آپلود عکس</a>
                        
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">

                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img src="{{photo.image.url}}" 
                                class="image-thumbail" 
                                alt="Card image cap">

                            <div class="card-body">
                              <small>دسته بندی : {{photo.category.name}}</small>
                            </div>
                            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">نمایش</a>
                        </div>
                    </div>
                    {% empty %}
                    <h3>تصویری موجود نمی باشد<h3>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
    
</body>
</html>
